/*common*/
.button{
    background:#3CB371;
    border: 1px solid #3CB371;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 40px;
    text-align: center;
    width: 100px;
}

.section-title{
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    text-align: center;
}
.section-description{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid #3CB371;
    padding-top: 10px;
}
.bullet-icon{
    height: 15px;
    width: 15px;
    margin: 5px 10px;
    vertical-align: middle;
}
.content-span{
   vertical-align: middle;
    font-size: 12px;
}
