

.header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 2% 5%;
}
.logo{
    font-size: 25px;
    width: 200px;
    display: inline-block;
}
.nav-menu{
    float: right;
    display: inline-flex;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-flex;
    padding: 10px 0px;
}
.nav-item{
  margin-left:20px;
}
