

@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\61";
}
.icon-facebook-square:before {
  content: "\62";
}
.icon-twitter:before {
  content: "\63";
}
.icon-instagram:before {
  content: "\64";
}
.icon-linkedin-square:before {
  content: "\65";
}


body{
  background-color: #12242a;
  color: #08fdd8;
  font-family: "Open Sans",sans-serif;
}
a{
  color: #0060B6;
  text-decoration: none;
}
.wrapper{
  padding-left: 5%;
  padding-right: 5%;
}
.right-side-bar{
  width: 50px;
  background-color: #05171d;
}
.header-cont{
  background-color: #002d34;
  position: sticky;
  padding: 5px 0px;
  padding-left: 5%;
  padding-right: 5%;
  display:flex;
}
.header-icon{
  font-size:18px;
  color: #00d5d6;
  margin: 0px 5px;
  vertical-align: -webkit-baseline-middle;
}
.header-left-section{
  flex:10;
}
.email{
  vertical-align: middle;
  margin: 0px 10px;
  color: #d0cbcb;
  font-size:12px;
}
/*section 1*/
.info-section{
  background: url(../images/7T9364v.gif);
  background-size: cover;
  width:100%;
  height:100vh;
}
.info-cont{
    color: white;
    padding:10% 5%;
    width: 60%;
    margin:0 auto;
}
.info-title{
    background-image: url(../images/agp.jpg);
    background-size: cover;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    margin: 0px auto;
    background-position: center;

}
.info-image-wrp{
  border-radius: 50%;
  height: 260px;
  width: 300px;
  margin: 0 auto;
  padding-top: 35px;
  margin-bottom: 5px;
  background-image: linear-gradient(cyan, #00131b);
}
.name-title{
  font-size: 60px;
  text-align: center;
  margin-bottom:5px;
}
.name{
  background: -webkit-linear-gradient(#fe0553,#009ea1);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.about-section,.skill-section{
  padding: 60px 0px;
  display: flex;
  width: 100%;
}
.work-section{
  padding: 60px 0px;
  width: 100%;
}
.contact-section{
  height:450px;
  background-color: #0a8071;
  color: #12242a;
  padding:60px 0px;
  padding-left: 5%;
  padding-right: 5%;
}
.section-title{
  font-size:60px;
  margin-bottom: 20px;
}
.section-sub-title{
  text-align: center;
  margin: 20px 0px;
  font-size: 20px;
}
.about-desc{
  color: #d0cbcb;
  font-size: 15px;
  text-align: left;
  line-height: 1.5;
}
.about-desc-wrp,.skill-desc-wrp{
  width:45%
}
.about-image{
  width: 60%;
  background-image: url(../images/priya.jpg);
  background-size: cover;
  height: 300px;
  width:300px;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 30px;
}
.about-image-title,.skill-image-title{
  margin: 15px 0px;
    font-size: 20px;
}
.skill-image-title{
  text-align: center;
  font-size:30px;
}
.abt-img-cont{
  text-align: center;
    width: 43%;
    margin: 0 auto;
}
.skill-image{
  margin: 0 auto;
}

/* work section */
.work-section > .section-title , .contact-section > .section-title{
  text-align: center;
}
.work-cont{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.each-work {
  position: relative;
  width:33%;
}
.image {
  display: block;
  width: 100%;
  height:350px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(cyan,#fc0853);
  opacity:0.9;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.each-work:hover .overlay {
  width: 100%;
}
.text-title{
  color: white;
  text-align: center;
  font-size: 35px;
  margin: 55px 20px;
  text-transform: uppercase;
}
.text-desc{
  color: white;
  font-size: 18px;
  margin: 0 20px;
  line-height: 25px;
  letter-spacing: .5px;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.contact-wrp{
width: 50%;
margin: 0 auto;
}
#myCanvas{
  height: 400px;
  width: 400px;
}
.input{
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 0;
  padding: 10px 15px;
  background: #1E242C;
  font-size: 12pt;
  margin-bottom: 3px;
  color: #fff;
  border-radius: 5px;
}
.message{
  height:160px ;
}
.send-btn{
  float: right;
  border: 0;
  height: 35px;
  margin-top: 5px;
  width: 90px;
  cursor: pointer;
  background-color: #0a8071;
  border: 2px solid #1e242c;
  font-size: 15px;
  border-radius: 5px;
}
@media (min-width: 768px) and (max-width: 1024px) {
.abt-img-cont{
  width: 80%;
}
.about-desc-wrp{
  width: 100%;
}
.image{
  height:300px;
}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
.each-work{
  width: 50%;
}
}
/* mobile view */
@media (min-width: 320px) and (max-width:767px) {
  .header-icon{
    margin: 0px 2px;
  }
  .info-cont{
    padding:25% 0%;
    width: 100%;
  }
  .info-image-wrp{
    height: 215px;
    width: 245px;
    margin-bottom: 30px;
  }
  .info-title{
    height: 175px;
    width: 175px;
  }
  .name-title {
    font-size: 38px;
    margin-bottom: 15px;
  }
  .about-section, .skill-section {
    display: block;
  }
  .work-section {
    padding-top: 0px;
  }
  .section-title{
    font-size: 50px;
  }
  .about-desc-wrp,.skill-desc-wrp{
    margin-bottom: 30px;
    width: 100%;
  }
  .about-image{
    height: 250px;
    width: 250px;
  }
  .abt-img-cont,.contact-wrp{
    width: 100%;
  }
  .each-work{
    width:100%;
    margin:5%;
  }
  .image{
    height: 300px;
  }
  #myCanvas {
    height: 360px;
    width: 300px;
    cursor: pointer;
  }
  .text-title{
    margin: 25px 0px;
  }
  .text-desc{
    font-size: 14px;
  }
}
